:root {
    --background-color: hsl(0, 0%, 100%);
    --btn-color: #7159C0;
    --btn-text-color: #FFFFFF;
    --project-card-bg: #242037; /* #ffffff00*/
    --text-color: #0D0A24;
    --form-text-color: #555
    --footer-text-color: #888
}

[data-theme='dark'] {
    --background-color: #151515;
    --btn-color: #573FA6;
    --btn-text-color: #FFFFFF;
    --project-card-bg: #CCC8DF;
    --text-color: #DEDBF5;
    --form-text-color: #c5c5c5;
    --footer-text-color: #37313A
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1, h2, h3, p {
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h2, h3, p {
    font-family: 'Roboto Mono', monospace;
}

h1, h2 {
    text-transform: uppercase;
}

h2, h3 {
    font-size: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
}

p {
    font-size: 16px;
    font-weight: 300;
}

.sectionTitle {
    margin-bottom: 30px;
}

.hover {
    cursor: pointer;
}

@media (width >= 800px){
    #root{
        gap: 100px;
    }
}